{% extends 'base.html' %}
{% block content %}
{{ super() }}

<!--Первая секция-->
<section class="first_section">

<!--Слайдер-->
<div class="visible_posters">
    <div class="posters">
        <div class="slider_line">
            <div class="slider_block first">
                <div class="poster">
                    <h3>Пролетарий, в зародыше задуши войну!</h3>
                    <p>
                        Фразы
                        о мире —
                        пустая утопия,
                        пока
                        не экспроприирован
                        класс капиталистов.
                    </p>
                </div>

                <div class="poster">
                    <h3>Хорошо!</h3>
                    <p>
                        Отечество<br/>
                        славлю,<br/>
                        которое есть,<br/>
                        но трижды —<br/>
                        которое будет.<br/>
                    </p>
                </div>
                <div class="poster">
                    <h3>Мистерия Буфф</h3>

                    <p>
                        <!--Что кипятитесь?-->
                        Обещали и делим поровну:
                        одному — бублик,
                        другому — дырку от бублика.
                        Это и есть демократическая республика.
                    </p>
                </div>
            </div>

            <div class="slider_block second">
                <div class="poster">
                    <h3>Послушайте!</h3>
                    <p>
                        Послушайте!<br/>
                        Ведь, если звезды зажигают —<br/>
                        значит — это кому-нибудь нужно?
                    </p>
                </div>
                <div class="poster">
                    <h3>Братья-писатели</h3>
                    <p>
                        Господа поэты,
                        неужели не наскучили
                        пажи,
                        дворцы,
                        любовь,
                        сирени куст вам?
                        Если
                        такие, как вы,
                        творцы —
                        мне наплевать на всякое искусство. 
                    </p>
                </div>
                <div class="poster">
                    <h3>Ко всему</h3>
                    <p>
                        Грядущие люди!
                        Кто вы?
                        Вот — я, весь боль и ушиб.
                        Вам завещаю я сад фруктовый
                        Моей великой души.
                    </p>
                </div>
            </div>

            <div class="slider_block thirth">
                <div class="poster">
                    <h3>Я сам</h3>
                    <p>
                        Те, кого я прочел, — так называемые великие. Но до чего же нетрудно писать лучше их. 
                    </p>
                </div>
                <div class="poster">
                    <h3>Домой!</h3>
                    <p>
                        Уходите, мысли, восвояси,
                        Обнимись, души и моря глубь.
                        Тот, кто постоянно ясен —
                        Тот, по-моему, просто глуп. 
                    </p>
                </div>
                <div class="poster">
                    <h3>Несколько слов обо мне самом</h3>
                    <p>
                        Я одинок, как последний глаз у идущего к слепым человека. 
                    </p>
                </div>
            </div>

            <div class="slider_block thirth">
                <div class="poster">
                    <h3>Флейта-позвоночник</h3>
                    <p>
                        Все чаще думаю -
                        не поставить ли лучше
                        точку пули в своем конце.
                        Сегодня я
                        на всякий случай
                        даю прощальный концерт.
                    </p>
                </div>
                <div class="poster">
                    <h3>Люблю</h3>
                    <p>
                        Нести не могу —<br/>
                        И несу мою ношу.<br/>
                        Хочу ее бросить —<br/>
                        И знаю,<br/>
                        Не брошу!<br/>
                    </p>
                </div>
                <div class="poster">
                    <h3>Ко всему</h3>
                    <p>
                        Убьете,<br/> похороните -<br/> Выроюсь!
                        <br/>
                        Об камень обточатся зубов ножи еще!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Кнопки слайдера-->
    <i id="btn_left" class="btn_slider">❰</i>
    <i id="btn_right" class="btn_slider">❱</i>

    <!--Индикаторы слайдера-->
    <div class="indicators_here">
        <i class="indicator" id="ind_1"></i>
        <i class="indicator" id="ind_2"></i>
        <i class="indicator" id="ind_3"></i>
        <i class="indicator" id="ind_4"></i>
    </div>
</div>
</section>

<!--Вторая секция-->
<section class="second_section">

    <!--Текст о поэте здесь (и картинка)-->
    <div class="biography_and_about">
        <div class="content_text">
            <h2><i><b>В</b>ладимир <b>М</b>аяковский <br/> <em>теперь в Discord!</em></i></h2>
            
            <div class="paragraphs_here">
                <p>
                    Сложно сказать, почему элементы политического процесса призывают
                    нас к новым свершениям, которые, в свою очередь, должны
                    быть подвергнуты целой серии независимых исследований.
                    Для современного мира глубокий уровень погружения предопределяет
                    высокую востребованность укрепления моральных ценностей. Задача организации, 
                    в особенности же глубокий уровень погружения позволяет оценить значение укрепления 
                    моральных ценностей. 
                </p>

                <p>
                    С учётом сложившейся международной обстановки, 
                    глубокий уровень погружения не даёт нам иного выбора, кроме определения 
                    благоприятных перспектив. Учитывая ключевые сценарии поведения, консультация 
                    с широким активом обеспечивает широкому кругу (специалистов) участие в 
                    формировании поставленных обществом задач. С учётом сложившейся международной 
                    обстановки, высокотехнологичная концепция общественного уклада создаёт предпосылки 
                    для дальнейших направлений развития.
                </p>
            </div>

            <!--Картинка тут-->
            <div class="content_image">
                <div class="img_here">
                    <img src="{{ url_for('static', filename='imgs/img002.png') }}">
                </div>
            </div>

            <!--Кнопка добавления тут-->
            <div class="button_add_to_server">      
                <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=971851746433450064&permissions=8&scope=bot">
                    Добавить
                </a>

                <!--Картинка со стоящим рядом с кнопкой Маяковским (справа)-->
                <div class="standing_image_true standing">
                    <div class="img_here">
                        <img src="{{ url_for('static', filename='imgs/standing_true.png') }}">
                    </div>
                </div>

                <!--Картинка со стоящим рядом с кнопкой Маяковским (слева)-->
                <div class="standing_image_false standing">
                    <div class="img_here">
                        <img src="{{ url_for('static', filename='imgs/standing_false.png') }}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--Скрипт слайдера-->
<script>
    //Объявление DOM - элементов
    let btnLeft = document.getElementById("btn_left");
    let btnRight = document.getElementById("btn_right");
    let sliderLine = document.querySelector(".slider_line");

    //Объявление индикаторов
    let firstInd = document.getElementById("ind_1");
    let secondInd = document.getElementById("ind_2");
    let thirthInd = document.getElementById("ind_3");
    let fourthInd = document.getElementById("ind_4");
    let ArrAllInds = [firstInd, secondInd, thirthInd, fourthInd];

    //Цвета для индикаторов
    let Default = "#ff5f5f";
    let Active = "#a41b1b";

    //Служебные переменные
    let offset = Number(0);
    const Move = Number(1200);
    const LeftMax = Number(0);
    const RightMax = Number(-3600);

    //На самый первый индикатор - вешаем цвет активного индикатора
    firstInd.style.backgroundColor = "#a41b1b";

    //Функция чтобы остальные стали обычными - а нажатый - активным
    function SaveOne(arr, saveBtn){
        for(i=0; i<arr.length; i++){
            if (arr[i] != saveBtn){
                arr[i].style.backgroundColor = Default;
            }
            saveBtn.style.backgroundColor = Active;
        }
    }

    //Функция для контроля за индикаторами при перемещении слайдера стрелочками влево - вправо
    function ControlInds(){
        if (offset == 0){
            SaveOne(ArrAllInds, firstInd);
        }
        else if (offset == -Move){
            SaveOne(ArrAllInds, secondInd);
        }
        else if (offset == -Move*2){
            SaveOne(ArrAllInds, thirthInd);
        }
        else if (offset == -Move*3){
            SaveOne(ArrAllInds, fourthInd);
        }
    }

    //На клики на кнопки (влево - вправо)
    btnLeft.onclick = function(){
        offset = Number(sliderLine.style.left.split("px")[0]) + Move;

        if (offset > LeftMax){
            offset = RightMax;
        }

        sliderLine.style.left = offset + "px";

        ControlInds();
    }
    
    btnRight.onclick = function(){
        offset = Number(sliderLine.style.left.split("px")[0]) + -Move;

        if (offset < RightMax){
            offset = LeftMax;
        }

        sliderLine.style.left = offset + "px";

        ControlInds();
    }

    //На клики на индикаторы (которые внизу)
    firstInd.onclick = function(){
        sliderLine.style.left = 0 + "px";

        SaveOne(ArrAllInds, firstInd);
    }

    secondInd.onclick = function(){
        sliderLine.style.left = -Move + "px";

        SaveOne(ArrAllInds, secondInd);
    }

    thirthInd.onclick = function(){
        sliderLine.style.left = -Move*2 + "px";

        SaveOne(ArrAllInds, thirthInd);
    }

    fourthInd.onclick = function(){
        sliderLine.style.left = -Move*3 + "px";

        SaveOne(ArrAllInds, fourthInd);
    }
</script>

<!--Скрипт ПопАпа-->
<script>
    let Body = document.querySelector("body");

    let btnToShow = document.getElementById("show_popup");
    let popup = document.getElementById("popup");
    let popupContent = document.getElementById("popup_content");
    let closeX = document.getElementById("close_popup");
    let active = false;

    //Функция открытия попапа
    function PopupOpen(){
        
        //Порядок стилей важен! Существующие местами менять не следует!
        popup.style.opacity = "1";
        popup.style.top = "0";
        popup.style.zIndex = "1000";
        popup.style.height = "100%";
        popup_content.style.opacity = "1";
        popup_content.style.top = "50%";
        popup_content.style.zIndex = "10000";

        Body.style.overflowY = "hidden";  
        active = true;
    }

    //Функция закрытия попапа
    function PopupClose(){

        //Порядок стилей важен! Существующие местами менять не следует!
        popup.style.opacity = "0";
        popup.style.top = "-50%";
        popup.style.height = "100%";
        popup.style.zIndex = "-1";
        popup_content.style.top = "-50%";
        popup_content.style.opacity = "0";
        

        Body.style.overflowY = "scroll";
        active = false;
    }

    //По клику в любую область, кроме popupContent или его дочерних элементов - закрываем попап.
    document.onclick = function(event){
        if (!popupContent.contains(event.target) && event.target.id != "show_popup" && active == true){
            PopupClose();
        }
    }

    //По клику на кнопку - отработает функция
    btnToShow.onclick = function(){
        if (active == false){
            PopupOpen();
        }
        
        else if (active == true){
            PopupClose();
        }
    }

    //По клику на крестик - отработает закрытие попапа
    closeX.onclick = function(){
        PopupClose();
    }

</script>

<!--Скрипт мини-слайдера внутри ПопАпа-->
<script>
    //Объявление необходимых переменных
    let firstNav = document.getElementById("pop_nav_1");
    let secondNav = document.getElementById("pop_nav_2");
    let thirthNav = document.getElementById("pop_nav_3");
    let ArrNavs = [firstNav, secondNav, thirthNav];
    let PopUpLine = document.getElementById("popup_line");
    let BlockContent = document.querySelectorAll(".popup_block_content")[0];

    //Смещение
    let offsetLine = Number(0);

    //На сколько смещать
    let MoveLine = BlockContent.offsetWidth;
    
    //Функция чтобы сделать одну из кнопок активной
    function ActiveOne(arr, saveNav){
        for(let i=0; i<arr.length; i++){
            if (arr[i] != saveNav){
                arr[i].classList.remove("active");
            }
            saveNav.classList.add("active");
        }
    }

    //По умолчанию добавляем для первого элемента в навигации класс .active
    firstNav.classList.add("active");

    //Действия при нажатии на первую кнопку
    firstNav.onclick = function(){
        offsetLine = 0;
        PopUpLine.style.left = offsetLine + "px";

        //Делаем первую кнопку активной
        ActiveOne(ArrNavs, firstNav);
    }

    //Действия при нажатии на вторую кнопку
    secondNav.onclick = function(){
        offsetLine = -MoveLine;
        PopUpLine.style.left = offsetLine + "px";

        //Делаем вторую кнопку активной
        ActiveOne(ArrNavs, secondNav);
    }

    //Действия при нажатии на третью кнопку
    thirthNav.onclick = function(){
        offsetLine = -MoveLine * 2;
        PopUpLine.style.left = offsetLine + "px";

        //Делаем третью кнопку активной
        ActiveOne(ArrNavs, thirthNav);
    }

</script>

{% endblock %}